.counter-wrapper{
    padding: 20px 10px;
}


.displayer{
    
    width:60%;
    margin: 10px auto;
    padding: 10px;
    background-color:#4583a7;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.counter-btn button{
    cursor: pointer;
}